name: wbaoftexas
services:

  # wbaoftexas:
  #   image: casmith/wbaoftexas:2024.12.15.084d7de9
  #   secrets:
  #    - wbaoftexas_db_pw
  #   environment:
  #     DB_NAME: wbaoftexas
  #     DB_HOST: work_db_1
  #     DB_USER: wbaoftexas
  #     DB_PASSWORD_FILE: /run/secrets/wbaoftexas_db_pw
  #   restart: always
  # nginx:
  #   image: nginx:1.15-alpine
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - ./data/nginx:/etc/nginx/conf.d
  #     - ./data/certbot/conf:/etc/letsencrypt
  #     - ./data/certbot/www:/var/www/certbot
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   restart: always
  # certbot:
  #   image: certbot/certbot
  #   volumes:
  #     - ./data/certbot/conf:/etc/letsencrypt
  #     - ./data/certbot/www:/var/www/certbot
  #   entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  #   restart: always



  # wbaoftexas_db_pw:
  #   file: ./wbaoftexas_db_pw.txt
