- name: Deploy Benefit Elect of Texas website via Docker
  hosts: web01
  become: true
  tasks:
    - name: Log into DockerHub
      docker_login:
        username: '{{ lookup("env", "DOCKERHUB_USERNAME") }}'
        password: '{{ lookup("env", "DOCKERHUB_PASSWORD") }}'

    - name: Creates directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      loop:
        - /home/ubuntu/deploy
        - /home/ubuntu/deploy/beoftexas
        # - /home/ubuntu/deploy/data

    - name: copy Docker Compose files
      copy:
        src: "beoftexas/{{ item }}"
        dest: "{{ (deploy_path | default('/home/' ~ ansible_user)) }}/beoftexas/{{ item }}"
      loop:
      - docker-compose.yaml

    - name: copy secrets
      copy:
        src: "secret/{{ item }}"
        dest: "{{ (deploy_path | default('/home/' ~ ansible_user)) }}/beoftexas/{{ item }}"
      loop:
      - beoftexas_db_pw.txt
      - beoftexas_db_root_pw.txt
      - strapi_db_pw.txt

    - name: Deploy with docker compose
      ansible.builtin.shell:
        cmd: "docker compose up -d"
        chdir: "{{ (deploy_path | default('/home/' ~ ansible_user)) }}/beoftexas/"
      register: compose_up_result