name: beoftexas
services:
  web:
    image: casmith/beoftexas:2026.01.13.d8ed1ab1
    env_file:
      - .env
    networks:
      shared:
        aliases:
          - beoftexas-web
      default:
    environment:
      DB_NAME: beoftexas
      DB_HOST: beoftexas-mariadb-1
      DB_USER: beoftexas
      STRAPI_URL: https://strapi.beoftexas.com
    depends_on:
      - mariadb
    restart: always
#  strapi:
#    image: naskio/strapi:4.25.11
#    environment:
#      DATABASE_CLIENT: postgres
#      DATABASE_NAME: strapi
#      DATABASE_HOST: postgres
#      DATABASE_PORT: 5432
#      DATABASE_USERNAME: strapi
#    volumes:
#      - ./app:/srv/app
#    secrets:
#      - strapi_db_pw
#    depends_on:
#      - postgres
#    restart: always
#  postgres:
#    image: postgres
#    environment:
#      POSTGRES_DB: strapi
#      POSTGRES_USER: strapi
#      POSTGRES_PASSWORD_FILE: /run/secrets/strapi_db_pw
#    volumes:
#      - ./postgres:/var/lib/postgresql
#    secrets:
#      - strapi_db_pw
#    restart: always
  mariadb:
    image: mariadb
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: beoftexas
      MYSQL_USER: beoftexas
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
     - ./data/mariadb/data:/var/lib/mysql
networks:
  shared:
    external: true
