name: beoftexas
services:
  nginx:
    image: nginx:alpine
    networks:
      shared:
        aliases:
          - beoftexas-web
      default:
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - public_files:/var/www/html/public:ro
    depends_on:
      - web
    restart: always

  web:
    image: casmith/beoftexas:2026.01.23.aa28367c
    env_file:
      - .env
    networks:
      default:
    environment:
      DB_NAME: beoftexas
      DB_HOST: mariadb
      DB_USER: beoftexas
      STRAPI_URL: https://strapi.beoftexas.com
    volumes:
      - public_files:/var/www/html/public
    depends_on:
      - mariadb
    restart: always

  mariadb:
    image: mariadb
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: beoftexas
      MYSQL_USER: beoftexas
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./data/mariadb/data:/var/lib/mysql

volumes:
  public_files:

networks:
  shared:
    external: true
