name: Deploy with Ansible

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy Ansible Playbook
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up SSH
        run: |
          echo "${{ secrets.SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem
    
      - name: Unlock secrets
        uses: sliteteam/github-action-git-crypt-unlock@1.2.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - name: echo a secret
        run: cat secret/test-secret.txt
        
      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
        run: |
          ansible-playbook beoftexas/playbook.yaml --private-key private_key.pem
          ansible-playbook wbaoftexas/playbook.yaml --private-key private_key.pem
          ansible-playbook projectsend/playbook.yaml --private-key private_key.pem
          ansible-playbook strapi/playbook.yaml --private-key private_key.pem
          ansible-playbook nginx/playbook.yaml --private-key private_key.pem
          ansible-playbook backup/playbook.yaml --private-key private_key.pem
